
h1{
  color: #bd3232;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: 'baskerville';
	color: #bd3232;
	display: inline-block;
	font-weight: 100;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #e1dabb;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #f1ecd5;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
